.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.text {
  flex-grow: 1;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  color: #555;
  font-size: 20px;
}

.button {
  padding: 5px 10px;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff4b4b;
}
