.app {
  margin: 0 auto;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.app h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
